<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>EMRE UYSAL-{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />
    {% block meta %}{% endblock %}
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<!-- Animate -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/animate.css')}}">
	<!-- Icomoon -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/icomoon.css')}}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">

	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
	<!-- Modernizr JS -->
	<script src="{{url_for('static',filename='js/modernizr-2.6.2.min.js')}}"></script>

	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>-->
	<!--<script src="{{url_for('static',filename='js/respond.min.js')}}"></script>-->
	<!--[endif]-->
	</head>
	<body>
	<div id="fh5co-offcanvas">
		<a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i><span>CLOSE</span></span></a>

		<div class="fh5co-bio">

			{% for okul,resim,instagram,twitter,facebook in adminozellikzip %}
			<figure>
				<a href="{{url_for('site.anasayfa')}}" ><img src="../../static/photos/{{resim}}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></a>
			</figure>
			<h3 >ABOUT ME</h3>
			<h2>{{okul}}</h2>
			<ul class="fh5co-social">
				<li><a href="{{twitter}}" target="_blank"><i class="icon-twitter"></i></a></li>
				<li><a href="{{facebook}}" target="_blank"><i class="icon-facebook"></i></a></li>
				<li><a href="{{instagram}}" target="_blank"><i class="icon-instagram"></i></a></li>
			</ul>{% endfor %}
		</div>
		<div class="fh5co-menu">
			<div class="fh5co-box">

				<h3>CATAGORIES</h3>
				<ul>
					{% if zipped_again %}
					{% for page_name,page_link in zipped_again %}
					<li><a href="{{page_link}}">{{page_name}}</a></li>
					{% endfor %}
					{% endif %}
					{% if kategori %}
					{% for kategori_id in kategori %}
					<li><a href="{{url_for('site.kategoriler',category_id=kategori_id)}}">{{kategori_id}}</a></li>
					{% endfor %}
					{% endif %}
				</ul>
			</div>

			<div class="fh5co-box">

				<h3>SEARCH</h3>
				<form action="{{url_for('site.aramasonuc')}}" method="POST">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="QUICK SEARCH" name="arama">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- END #fh5co-offcanvas -->

	<header id="fh5co-header">
		
		<div class="container-fluid">

			<div class="row">
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
				{% for okul,resim,instagram,twitter,facebook in adminozellikzip %}
				<ul class="fh5co-social">
					<li><a href="{{twitter}}" TARGET="_blank"><i class="icon-twitter"></i></a></li>
					<li><a href="{{facebook}}" TARGET="_blank"><i class="icon-facebook"></i></a></li>
					<li><a href="{{instagram}}" TARGET="_blank"><i class="icon-instagram"></i></a></li>
				</ul>
				{% endfor %}
				<div class="col-lg-12 col-md-12 text-center">
					<h1 id="fh5co-logo"><a href="{{url_for('site.anasayfa')}}">{{baslik}}</a></h1>
				</div>
			</div>


		</div>

	</header>
	<!-- END #fh5co-header -->
    {% block content %}{% endblock %}
	<footer id="fh5co-footer">
		<p><small>&copy;EMRE UYSAL OFFICIAL.</small></p>
	</footer>


	
	<!-- jQuery -->
	<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
	<!-- jQuery Easing -->
	<script src="{{url_for('static',filename='js/jquery.easing.1.3.js')}}"></script>
	<!-- Bootstrap -->
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<!-- Waypoints -->
	<script src="{{url_for('static',filename='js/jquery.waypoints.min.js')}}"></script>
	<!-- Main JS -->
	<script src="{{url_for('static',filename='js/main.js')}}"></script>

	</body>
</html>

