{% extends "mainpages/layout.html" %}
{% block title %} ABOUT US{% endblock %}
{% block body %}
{% if agency %}
<div class="container-fluid">
		<div class="row fh5co-post-entry single-entry">
			<article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
				<figure class="animate-box">
					<img src="{{url_for('static',filename='images/')}}{{agency.photo}}" alt="" >
				</figure>
				<span class="fh5co-meta animate-box">DIRECTOR : {{agency.director}}</span>
				<h2 class="fh5co-article-title animate-box">{{agency.company}}</h2>
				<span class="fh5co-meta fh5co-date animate-box">PHONE : {{agency.phone}}</span>

				<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
					<div class="row">
						<div class="col-lg-8 cp-r animate-box">
							<p>{{agency.description}}</p>
						</div>
						<div class="col-lg-4 animate-box">
							<div class="fh5co-highlight right">
								<h4>FOLLOW US</h4>
								{% if agency.facebook %}<a href="{{agency.facebook}}">Facebook</a><br>{% endif %}
                                {% if agency.instagram %}<a href="{{agency.instagram}}">Instagram</a><br>{% endif %}
                                {% if agency.twitter %}<a href="{{agency.twitter}}">Twitter</a>{% endif %}
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>

{% endif %}
{% endblock %}