{% extends "mainpages/layout.html" %}
{% block title %} MODEL {% endblock %}
{% block body %}
{% if actor %}
<script src="{{url_for('static',filename='js/jssor.slider-27.5.0.min.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        jssor_1_slider_init = function() {

            var jssor_1_SlideshowTransitions = [
              {$Duration:1200,$Zoom:1,$Easing:{$Zoom:$Jease$.$InCubic,$Opacity:$Jease$.$OutQuad},$Opacity:2},
              {$Duration:1000,$Zoom:11,$SlideOut:true,$Easing:{$Zoom:$Jease$.$InExpo,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:1200,$Zoom:1,$Rotate:1,$During:{$Zoom:[0.2,0.8],$Rotate:[0.2,0.8]},$Easing:{$Zoom:$Jease$.$Swing,$Opacity:$Jease$.$Linear,$Rotate:$Jease$.$Swing},$Opacity:2,$Round:{$Rotate:0.5}},
              {$Duration:1000,$Zoom:11,$Rotate:1,$SlideOut:true,$Easing:{$Zoom:$Jease$.$InQuint,$Opacity:$Jease$.$Linear,$Rotate:$Jease$.$InQuint},$Opacity:2,$Round:{$Rotate:0.8}},
              {$Duration:1200,x:0.5,$Cols:2,$Zoom:1,$Assembly:2049,$ChessMode:{$Column:15},$Easing:{$Left:$Jease$.$InCubic,$Zoom:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:1200,x:4,$Cols:2,$Zoom:11,$SlideOut:true,$Assembly:2049,$ChessMode:{$Column:15},$Easing:{$Left:$Jease$.$InExpo,$Zoom:$Jease$.$InExpo,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:1200,x:0.6,$Zoom:1,$Rotate:1,$During:{$Left:[0.2,0.8],$Zoom:[0.2,0.8],$Rotate:[0.2,0.8]},$Opacity:2,$Round:{$Rotate:0.5}},
              {$Duration:1000,x:-4,$Zoom:11,$Rotate:1,$SlideOut:true,$Easing:{$Left:$Jease$.$InQuint,$Zoom:$Jease$.$InQuart,$Opacity:$Jease$.$Linear,$Rotate:$Jease$.$InQuint},$Opacity:2,$Round:{$Rotate:0.8}},
              {$Duration:1200,x:-0.6,$Zoom:1,$Rotate:1,$During:{$Left:[0.2,0.8],$Zoom:[0.2,0.8],$Rotate:[0.2,0.8]},$Opacity:2,$Round:{$Rotate:0.5}},
              {$Duration:1000,x:4,$Zoom:11,$Rotate:1,$SlideOut:true,$Easing:{$Left:$Jease$.$InQuint,$Zoom:$Jease$.$InQuart,$Opacity:$Jease$.$Linear,$Rotate:$Jease$.$InQuint},$Opacity:2,$Round:{$Rotate:0.8}},
              {$Duration:1200,x:0.5,y:0.3,$Cols:2,$Zoom:1,$Rotate:1,$Assembly:2049,$ChessMode:{$Column:15},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Zoom:$Jease$.$InCubic,$Opacity:$Jease$.$OutQuad,$Rotate:$Jease$.$InCubic},$Opacity:2,$Round:{$Rotate:0.7}},
              {$Duration:1000,x:0.5,y:0.3,$Cols:2,$Zoom:1,$Rotate:1,$SlideOut:true,$Assembly:2049,$ChessMode:{$Column:15},$Easing:{$Left:$Jease$.$InExpo,$Top:$Jease$.$InExpo,$Zoom:$Jease$.$InExpo,$Opacity:$Jease$.$Linear,$Rotate:$Jease$.$InExpo},$Opacity:2,$Round:{$Rotate:0.7}},
              {$Duration:1200,x:-4,y:2,$Rows:2,$Zoom:11,$Rotate:1,$Assembly:2049,$ChessMode:{$Row:28},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Zoom:$Jease$.$InCubic,$Opacity:$Jease$.$OutQuad,$Rotate:$Jease$.$InCubic},$Opacity:2,$Round:{$Rotate:0.7}},
              {$Duration:1200,x:1,y:2,$Cols:2,$Zoom:11,$Rotate:1,$Assembly:2049,$ChessMode:{$Column:19},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Zoom:$Jease$.$InCubic,$Opacity:$Jease$.$OutQuad,$Rotate:$Jease$.$InCubic},$Opacity:2,$Round:{$Rotate:0.8}}
            ];

            var jssor_1_options = {
              $AutoPlay: 1,
              $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: jssor_1_SlideshowTransitions,
                $TransitionsOrder: 1
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $ThumbnailNavigatorOptions: {
                $Class: $JssorThumbnailNavigator$,
                $Rows: 2,
                $SpacingX: 14,
                $SpacingY: 12,
                $Orientation: 2,
                $Align: 156
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 1135;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>
    <style>
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider arrow skin 093 css*/
        .jssora093 {display:block;position:absolute;cursor:pointer;}
        .jssora093 .c {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
        .jssora093 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
        .jssora093:hover {opacity:.8;}
        .jssora093.jssora093dn {opacity:.6;}
        .jssora093.jssora093ds {opacity:.3;pointer-events:none;}

        /*jssor slider thumbnail skin 101 css*/
        .jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
        .jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
        .jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
        .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
        .jssort101 .p:hover{padding:2px;}
        .jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
        .jssort101 .p:hover.pdn{padding:0;}
        .jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
        .jssort101 .pav .cv {border-color:#fff;opacity:.35;}
        .jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
        .jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
        .jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}
    </style>
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:960px;height:480px;overflow:hidden;visibility:hidden;background-color:#24262e;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="{{url_for('static',filename='images/img/spin.svg')}}" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:240px;width:720px;height:480px;overflow:hidden;">
            {% if photo %}
            {% if photo.photo1 %}
            <div>
                <img data-u="image" src="{{url_for('static',filename='images/model/')}}{{photo.photo1}}" />
                <img data-u="thumb" src="{{url_for('static',filename='images/model/')}}{{photo.photo1}}" />
            </div>
            {% endif %}
             {% if photo.photo2 %}
            <div>
                <img data-u="image" src="{{url_for('static',filename='images/model/')}}{{photo.photo2}}" />
                <img data-u="thumb" src="{{url_for('static',filename='images/model/')}}{{photo.photo2}}" />
            </div>
            {% endif %}
             {% if photo.photo3 %}
            <div>
                <img data-u="image" src="{{url_for('static',filename='images/model/')}}{{photo.photo3}}" />
                <img data-u="thumb" src="{{url_for('static',filename='images/model/')}}{{photo.photo3}}" />
            </div>
            {% endif %}
             {% if photo.photo4 %}
            <div>
                <img data-u="image" src="{{url_for('static',filename='images/model/')}}{{photo.photo4}}" />
                <img data-u="thumb" src="{{url_for('static',filename='images/model/')}}{{photo.photo4}}" />
            </div>
            {% endif %}
             {% if photo.photo5 %}
            <div>
                <img data-u="image" src="{{url_for('static',filename='images/model/')}}{{photo.photo5}}" />
                <img data-u="thumb" src="{{url_for('static',filename='images/model/')}}{{photo.photo5}}" />
            </div>
            {% endif %}
             {% if photo.photo6 %}
            <div>
                <img data-u="image" src="{{url_for('static',filename='images/model/')}}{{photo.photo6}}" />
                <img data-u="thumb" src="{{url_for('static',filename='images/model/')}}{{photo.photo6}}" />
            </div>
            {% endif %}
             {% if photo.photo7 %}
            <div>
                <img data-u="image" src="{{url_for('static',filename='images/model/')}}{{photo.photo7}}" />
                <img data-u="thumb" src="{{url_for('static',filename='images/model/')}}{{photo.photo7}}" />
            </div>
            {% endif %}
             {% if photo.photo8 %}
            <div>
                <img data-u="image" src="{{url_for('static',filename='images/model/')}}{{photo.photo8}}" />
                <img data-u="thumb" src="{{url_for('static',filename='images/model/')}}{{photo.photo8}}" />
            </div>
            {% endif %}
             {% if photo.photo9 %}
            <div>
                <img data-u="image" src="{{url_for('static',filename='images/model/')}}{{photo.photo9}}" />
                <img data-u="thumb" src="{{url_for('static',filename='images/model/')}}{{photo.photo9}}" />
            </div>
            {% endif %}
             {% if photo.photo10 %}
            <div>
                <img data-u="image" src="{{url_for('static',filename='images/model/')}}{{photo.photo10}}" />
                <img data-u="thumb" src="{{url_for('static',filename='images/model/')}}{{photo.photo10}}" />
            </div>
            {% endif %}
            {% endif %}

        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort101" style="position:absolute;left:0px;top:0px;width:240px;height:480px;background-color:#000;" data-autocenter="2" data-scale-left="0.75">
            <div data-u="slides">
                <div data-u="prototype" class="p" style="width:99px;height:66px;">
                    <div data-u="thumbnailtemplate" class="t"></div>
                    <svg viewbox="0 0 16000 16000" class="cv">
                        <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                        <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                        <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
                    </svg>
                </div>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora093" style="width:50px;height:50px;top:0px;left:270px;" data-autocenter="2">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                <polyline class="a" points="7777.8,6080 5857.8,8000 7777.8,9920 "></polyline>
                <line class="a" x1="10142.2" y1="8000" x2="5857.8" y2="8000"></line>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora093" style="width:50px;height:50px;top:0px;right:30px;" data-autocenter="2">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                <polyline class="a" points="8222.2,6080 10142.2,8000 8222.2,9920 "></polyline>
                <line class="a" x1="5857.8" y1="8000" x2="10142.2" y2="8000"></line>
            </svg>
        </div>
    </div>
    <script type="text/javascript">jssor_1_slider_init();</script>

    <!-- #endregion Jssor Slider End -->

     <!-- DataTables Example -->
          <div class="card table-container">
            <div class="card-header" align="center"> GENERAL INFORMATION</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Surname</th>
                      <th>Gender</th>
                      <th>Age</th>
                      <th>Weight</th>
                      <th>Height</th>
                        <th>Body Color</th>
                      <th>Hair Color</th>
                      <th>Hair Type</th>
                        <th>Eye Color</th>
                      <th>Breast</th>
                      <th>Waist</th>
                        <th>Hip</th>
                        <th>Foot</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Surname</th>
                      <th>Gender</th>
                      <th>Age</th>
                      <th>Weight</th>
                      <th>Height</th>
                        <th>Body Color</th>
                      <th>Hair Color</th>
                      <th>Hair Type</th>
                        <th>Eye Color</th>
                      <th>Breast</th>
                      <th>Waist</th>
                        <th>Hip</th>
                        <th>Foot</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <th>{{actor.name}}</th>
                      <th>{{actor.surname}}</th>
                      <th>{{actor.gender}}</th>
                      <th>{{actor.age}}</th>
                      <th>{{body.weight}}</th>
                      <th>{{body.height}}</th>
                        <th>{{body.bodycolor}}</th>
                      <th>{{body.haircolor}}</th>
                      <th>{{body.hairtype}}</th>
                        <th>{{body.eyecolor}}</th>
                      <th>{{body.top}}</th>
                      <th>{{body.middle}}</th>
                        <th>{{body.bottom}}</th>
                        <th>{{body.foot}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Only logined companies can see the PRIVATE information about model.</div>
          </div>
    {% if current_user.is_authenticated %}
        <div class="card table-container">
            <div class="card-header" align="center"> PRIVATE CONTACT INFORMATION </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Facebook</th>
                      <th>Twitter</th>
                      <th>Instagram</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                     <th>Email</th>
                      <th>Phone</th>
                      <th>Facebook</th>
                      <th>Twitter</th>
                      <th>Instagram</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <th>{{actor.email}}</th>
                      <th>{{actor.phone}}</th>
                      <th>{{soul.facebook}}</th>
                      <th>{{soul.twitter}}</th>
                      <th>{{soul.instagram}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        <div class="card table-container">
             <div class="card-header" align="center"> PRIVATE MODEL DESCRIPTION </div>
            <p>{{soul.description}}</p>
        </div>
    {% endif %}
{% endif %}

{% endblock %}