{% extends "mainpages/layout.html" %}
{% block title %} LOGIN {% endblock %}
{% block body %}

<div class="container">
        <div class="card card-container-login">
            <form class="form-signin" action="" method="POST">
                 {{form.csrf_token}}
                {% with messages=get_flashed_messages() %}
                    {% if messages %}
                <div>
                    {% for message in messages %}
                    <div align="center" style="color:green;">{{ message }}</div>
                    {% endfor %}
                </div>
                    {% endif %}
                {% endwith %}
                {% for message in form.email.errors %}
                <div align="center" style="color:red;">Email Error : {{message}}</div>
                {% endfor %}
                <p id="reauth-email" class="reauth-email">FORGOT PASSWORD </p>
                <h4>EMAIL:</h4>{{form.email(placeholder="company email", class="form-control",type="email",id="inputEmail")}}
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">SEND EMAIL</button>
            </form><!-- /form -->
             <div style="text-align:center;">
                 <a href="{{url_for('website.login')}}" class="forgot-password">
                  <br> Return to Login ?
                 </a>
            </div>
        </div><!-- /card-container -->
    </div><!-- /container -->

{% endblock %}